body{
  background-color:#eeeeee;
}
div.original-style{
  position:absolute;
  left:400px;
  height:420px;
}
div.my-style{
  margin-left:50px;
}
div.user-card{
  background-color:#ffffff;
  position: relative;
  top:0;
  font-family:arial;
  height:380px;
  width:300px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 7px 5px #777777;
  cursor:pointer;
  transition: top .3s ease-out;
}
div.user-card:hover{
  top:-15px;
}
div.card-header{
  width:100%;
  height:100px;
  background-image:url("/img/avatar.jpeg");
  background-position:50%;
  background-color:#e7e7e7;
}

div.image-mask{
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.2)
}

div.user-avatar{
  position:absolute;
  top:70px;
  left:20px;
  height:60px;
  width:60px;
  border:3px white solid;
  border-radius:50%;
  background-image:url("/img/avatar.jpeg");
  background-size:cover;
}

div.bt-favorite{
  width:30px;
  height:30px;
  position:absolute;
  top:120px;
  right:20px;
}
div.card-content{
  position:absolute;
  top:150px;
  left:20px;
  /* margin: 50px 0px 0px 20px; */
}
div.user-name{
  font-size:18px;
}
p.user-name-val{
  display:inline;
}
div.eshop{
  display:inline;
  position: relative;
}
div.icon-eshop{
  display:inline-block;
  width:15px;
  height:15px;
}
div.tips{
  display:none;
  font-size:10px;
  color: #ffffff;
  opacity: 0;
  width:200px;
  height:40px;
  background-color:#5783fc;
  position:absolute;
  top:-45px;
  left:-90px;
  border-radius: 5px;
  transition: opacity 0.3s ease-out;
  padding-left: 10px;
  cursor: text;
}

div.tips-triangle{
  border:5px solid transparent;
  border-top-color:#5783fc;
  height: 0;
  width:0;
  position: absolute;
  top:40px;
  left:92.5px;
}
div.user-id, div.user-region, div.stats-item-key, div.analysis-item-prob{
  font-size:12px;
  color:grey;
}
div.user-topic-item{
  padding:2px 4px;
  font-size:12px;
  box-sizing:border-box;
  display:inline-block;
  background-color:pink;
  color:purple;
}
div.user-stats-item{
  display:inline-block;
  margin-top:20px;
  margin-right:40px;
}
div.user-analysis-item{
  font-size:12px;
  display:inline-block;
  margin-top:30px;
  margin-right:10px;
}
div.inline{
  display:inline;
}
img.icon-region{
  width:15px;
  height:15px;
}
div.card-footer{
  position:absolute;
  bottom:20px;
  right:20px;
}
a.detail{
  text-decoration: none;
  color:#5783fc;
}
a.detail:visited{
  color:#5783fc;
}
