$logoWidth:60px;
$logoHeight:40px;
$navHeight: 100px;
$cardHeight:600px;
$cardWidth:500px;
$dropDownRadius:25px;
$headerTopColor: rgba(255,255,255,1);
$headerColor: rgba(255,255,255,.6);
$footerColor: rgba(255,255,255,1);
$mediumSize: 768px;
$largeSize: 1050px;
$floatTime:6s;
@mixin transition($statement){
  -webkit-transition: $statement;
  -moz-transition: $statement;
  -ms-transition: $statement;
  -o-transition: $statement;
  transition: $statement;
}
@mixin mask($statement){
  -webkit-mask: $statement;
  -moz-mask: $statement;
  -ms-mask: $statement;
  -o-mask: $statement;
  mask: $statement;
}
@mixin mediaQuery($deviceType){
  @if $deviceType == smallScreen{
    // size < 768px
    @media only screen and (max-width: $mediumSize){
      @content;
    }
  }@else if $deviceType == mediumScreen{
    //768px < size < 1050px
    @media only screen and (max-width:$largeSize){
      @content;
    }
  }@else if $deviceType == largeScreen{
    //size > 1050px
    @content;
  }
}
@keyframes float{
  0%{
    transform: translate(0, 0);
  }
  11%{
    transform: translate(0, -50px);
  }
  18%{
    transform: translate(0, -45px);
  }
  22%{
    transform: translate(0, -50px);
  }
  33%, 100%{
    transform: translate(0, 0);
  }
}
@keyframes shake{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(10deg);
  }
  50%{
    transform: rotate(-10deg);
  }
  75%{
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

:root{
  // --themeColor:lightblue;
  --themeColor: #7861da;
  --errorColor:red;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}
body{
  font-family: 'Roboto', Helvetica, sans-serif;
  margin:0;
}
#background{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#e7e7e7;
}

.header{
  @include transition(all .3s ease-out);
  position:fixed;
  top:0;
  left:0;
  right:0;
  box-shadow: 0px 4px 5px rgba(0,0,0,.2);
  background-color: $headerColor;
  font-size: 18px;
  z-index: 2;
}
.navigation{
  display:flex;
  justify-content: space-around;
  align-items: center;
  color:#e7e7e7;
  @include mediaQuery(mediumScreen){
    &[type=navigation]{
      height:50px;
      justify-content: flex-end;
      background-color:var(--themeColor);
    }
    &.top[type=navigation]{
      background-color:var(--themeColor);
    }
    &__logo{
      display:none;
    }
    &__option{
      display:block;
    }
  }
  &.top{
    background-color: $headerTopColor;
    a{
      color:#000000;
    }
  }
  &__logo{
    width:$logoWidth;
    height:$logoHeight;
    background:url("../asset/logo.png") no-repeat;
    background-size: cover;
  }
  &__list{
    min-width:400px;
    max-width:600px;
    height:100%;
    display:flex;
    justify-content: space-around;
    flex-grow:1;
    @include mediaQuery(mediumScreen){
      @include transition(all .3s ease-out);
      box-shadow: -3px 0px 3px rgba(0,0,0,.2);
      position: fixed;
      top: 0;
      right: -180px;
      bottom: 0;
      min-width: 180px;
      flex-direction: column;
      justify-content: flex-start;
      background-color: var(--themeColor);
      padding: 0;
      margin: 0;
      margin-top: 50px;
      &.show{
        right:0px;
      }
      .navigation__item{
        margin-top: 40px;
        text-align: center;
        >a{
          position: relative;
          display: block;
          width:100%;
          height:30px;
          padding-top: 5px;
          box-sizing: border-box;
          color:rgba(255,255,255,.5);
          &:hover, &.active{
            color:rgba(255,255,255,1);
          }
          &::after{
            margin:0px;
            left:0;
            content: "";
            position: absolute;
            bottom: 0px;
            z-index: -1;
            border-radius: 0px;
          }
          &.active::after,&:hover::after{
            min-height: 30px;
            width:100%;
            background-color: rgba(255,255,255,.4);
          }
        }
      }
    }
  }
  &__item{
    list-style-type: none;
    a{
      position: relative;
      text-decoration: none;
      color:#777777;
      &:hover::after,&.active::after{
        // background-color:#ff0258;
        background-color: var(--themeColor);
        width:40px;
      }
      &:hover::after{
        transition: all .5s ease-out;
      }
      &::after{
        content:"";
        position:relative;
        left:50%;
        bottom:-6px;
        margin-left: -20px;
        border-radius: 4px;
        width:0px;
        height:3px;
        background-color: transparent;
        display: block;
      }
    }
  }
  &__option{
    @include mask(url(../asset/option-24px.svg) no-repeat center/contain);
    width:30px;
    height:30px;
    background-color: #ffffff;
    margin-right: 10px;
    cursor:pointer;
  }
}

.content{
  display:flex;
  justify-content: center;
  width:100%;
  height:100%;
}
#page-loader{
  min-height:500px;
  min-height:600px;
  min-width:350px;
  max-width:1000px;
  width:100%;
  margin:50px 30px;
  margin-top:90px;
  >section{
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  }
}
.page{
  width:100%;
  height:100%;
  background:#ffffff;
  display:none;
  position:relative;
  border-radius: 15px;
  overflow: hidden;
  &__header{
    display:flex;
    height:80px;
    font-size:26px;
    color:#ffffff;
    justify-content: center;
    align-items: center;
    background-color:var(--themeColor);
  }
  &__content{
    display:flex;
    margin:auto;
    margin-bottom: 30px;
    width:90%;
    background-color: #ffffff;
    flex-direction:row;
    justify-content: center;
    @include mediaQuery(smallScreen){
      flex-direction:column;
    }
  }
}
.current{
  display:block;
}

.bt{
  width:140px;
  height: 40px;
  cursor:pointer;
  background:linear-gradient(135deg,transparent 50%, var(--themeColor) 0, blue 90%, transparent 0) no-repeat;
  background-size:100% 100%;
  background-position:-25% 0;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:5px;
}

#resume{
  background: linear-gradient(180deg,var(--themeColor) 50%, white 50%);
  position: relative;
  @include mediaQuery(smallScreen){
    padding-bottom: 18px;
    >div{
      position: static;
      margin:auto;
      margin-top: 50px;
    }
  }

  &__info{
    @include transition(all .5s ease-out);
    position: absolute;
    right:150px;
    top:100px;
    width:400px;
    position:flex;
    flex-direction: column;
    text-align: center;
    color:#ffffff;
    @include mediaQuery(mediumScreen){
      right: 15%;
      top: 70px;
      font-size:15px;
    }
    @include mediaQuery(smallScreen){
      width:100%;
    }
  }
  &__intro{
    min-height:200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    bottom:50px;
    left:50px;
    width:90%;
    line-height: 1.6;
    @include mediaQuery(smallScreen){
      flex-direction: column;
      font-size: 15px;
      h2{
        line-height: 1.2;
      }
    }
  }
  &__avatar{
    @include transition(all .4s);
    position:absolute;
    left:50px;
    top:70px;
    min-width:180px;
    min-height:180px;
    width:25%;
    height:auto;
    border:5px solid #ffffff;
    box-shadow:0px 5px 5px rgba(0,0,0,.15);
    &:hover{
      transform: translate(0px,-13px);
      box-shadow: 0px 18px 5px 0px rgba(0,0,0,.15);
    }
    >img{
      width:100%;
      height:100%;
      vertical-align:bottom
    }
  }
}

#info{
  &__name>h1{
    @include mediaQuery(mediumScreen){
      font-size: 48px;
    }
    @include mediaQuery(smallScreen){
      font-size: 36px;
    }
    font-size:56px;
    line-height: 30px;
  }
  &__position>h2{
    @include mediaQuery(mediumScreen){
      font-size: 18px;
    }
    font-size: 24px;
    line-height: 30px;
  }
  &__socials{
    display:flex;
    justify-content: center;
    align-items: center;
    .icon{
      @include mask(none);
      @include transition(all .4s);
      @include mediaQuery(mediumScreen){
        width:30px;
        height:30px;
      }
      width:35px;
      height:35px;
      margin-left:10px;
      border-radius: 33%;
      background-color:#ffffff;
      cursor:pointer;
      &:hover{
        animation: .5s shake;
        background-color:#00adef;
      }
      &--github{
        @include mask(url(../asset/github-icon.svg) no-repeat center / contain );
      }
      &--linkin{
        @include mask(url(../asset/linkin-icon.svg) no-repeat center/ contain);
      }
      &--instagram{
        @include mask(url(../asset/instagram-icon.svg) no-repeat center/ contain);
      }
    }
  }
}
#intro{
  &__description{
    width:100%;

  }
  &__demographic{
    width:100%;
    >li{
      list-style: none;
      margin-top:5px;
      .key{
        display: inline-block;
        width:100px;
      }
      .value{
        color:#777777;
      }
    }
    @include mediaQuery(smallScreen){
      padding-left: 5%;
      .value{
        white-space: nowrap;
      }
    }
  }
}

#about{
  &__education, &__skills{
    width:100%;
  }
}

#education{
  &__timeline{
    width:auto;
    border:0px solid rgba(0,0,0,.2);
    border-left:2px solid rgba(0,0,0,.2);
    padding-left: 27px;
    padding-top: 1px;
    margin-right:20px;
    @include mediaQuery(smallScreen){
      margin:0;
    }
  }
}

.timeline{
  &__card{
    @include transition(all .3s);
    border:2px solid rgba(0,0,0,.1);
    border-left: 4px solid var(--themeColor);
    padding:10px 20px;
    margin-top:20px;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    &::before{
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      top: 19px;
      left: -40px;
      background-color: #ffffff;
      border: 3px solid var(--themeColor);
      border-radius: 50%;
      z-index: 2;
    }
    &.active::before{
      background-color: var(--themeColor);
    }
    &::after{
      content: "";
      position: absolute;
      top: 26px;
      left: -31px;
      width: 30px;
      height: 2px;
      background-color: var(--themeColor);
    }
    &:hover{
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    }
  }
  &__header{
    h4{
      margin:10px 0px;
    }
  }
  &__info{
    font-size: 12px;
    a, a:focus, a:visited{
      text-decoration: none;
      color: var(--themeColor);
    }
  }
  &__time{
  }
  &__location{
    margin-left:20px;
    padding-left:20px;
    border:0px solid transparent;
    border-left:1px solid rgba(0,0,0,.1);
  }
  &__content{
    p{
      font-size: 15px;
      margin:8px 0px;
    }
  }
}
.skill{
  &__content{
    width:100%;
    background-color: rgba(0,0,0,.05);
    border-radius: 10px;
    padding:10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  &__item{
    margin: 10px;
    width:40px;
    height:40px;
    background-color: var(--themeColor);
    @include mediaQuery(mediumScreen){
      width:30px;
      height: 30px;
    }
  }
  &__level{

    width:auto;
    height:10px;
    border-radius: 5px;
    overflow: hidden;
    background-color:#e7e7e7;
  }
  @for $i from 1 through 5{
    &__level{
      .skill__level-#{$i}{
        width:$i*20%;
        height:100%;
        border-radius: 5px;
        background-color: var(--themeColor);
        // background: linear-gradient(90deg,var(--themeColor) $i*20%, transparent 0,transparent (5 - $i)*20%)
      }
    }
  }
}
#contact{
  &__detail{
    width:100%;
    padding: 0 20px;
    margin-top: 1em;
    box-sizing:border-box;
    &>li{
      list-style:none;
      &.detail-info{
        display:flex;
        flex-direction: row;
        align-items: center;
        >.detail__key{
          border-radius: 50%;
          background-color: var(--themeColor);
          min-width:36px;
          height:36px;
          margin-right:10px;
          display: flex;
          justify-content:center;
          align-items: center;
          &::before{
            content:"";
            width:70%;
            height:70%;
            background:#ffffff;
          }
        }
        >p{
          color:#888888;
        }
      }
    }
  }
  &__form{
    width:100%;
    padding: 0 20px;
    margin-top: 1em;
    box-sizing:border-box;
  }
}
#map{
  width:100%;
  height:200px;
}
#detail{
  &__header{
    font-size: 26px;
    line-height:0.5em;
  }
  &__google-map{
    width:100%;
    margin-bottom:10px;
  }
  &__location{
    .detail__key::before{
      @include mask(url(../asset/location-24px.svg) no-repeat center/contain);
    }
  }
  &__email{
    .detail__key::before{
      @include mask(url(../asset/email-24px.svg) no-repeat center/contain);
    }
  }
  &__phone{
    .detail__key::before{
      @include mask(url(../asset/call-24px.svg) no-repeat center/contain);
    }
  }
}

#form{
  &__content{
    display:flex;
    flex-direction: row;
    margin-top: 30px;
    position: relative;
    &::before{
      content:"";
      width:30px;
      height:30px;
      background-color: var(--themeColor);
    }
    >input, &>textarea{
      font-family: "Roboto", Helvetica, sans-serif;
      outline:none;
      width:100%;
      height:30px;
      box-sizing: border-box;
      margin-left:5px;
      border:1px solid transparent;
      border-bottom-color: #777777;
      &+.focus-underline{
        @include transition(all .3s ease-out);
        position: absolute;
        bottom:0;
        width:0%;
        height:2px;
        background-color:var(--themeColor);
      }
      &:focus+.focus-underline, &.finished+.focus-underline{
        width:100%;
      }
      &.error+.focus-underline{
        background-color: var(--errorColor);
        width:100%;
        &::after{
          content:"";
          color:var(--errorColor);
          position: absolute;
          bottom: -20px;
          font-size: 13px;
        }
      }
    }
    &>textarea{
      height:80px;
      resize:none;
    }
    &--name{
      @extend #form__content;
      &::before{
        @include mask(url(../asset/person-24px.svg) no-repeat center/contain)
      }
      >input.error+.focus-underline::after{
        content:"Name should not be empty";
      }
    }
    &--email{
      @extend #form__content;
      &::before{
        @include mask(url(../asset/email-24px.svg) no-repeat center/contain)
      }
      >input.error+.focus-underline::after{
        content:"Please enter a valid email";
      }
    }
    &--message{
      @extend #form__content;
      &::before{
        @include mask(url(../asset/msg-24px.svg) no-repeat center/contain)
      }
      >textarea.error+.focus-underline::after{
        content:"Message should not be empty"
      }
    }
  }
  &__captcha{
    margin-top: 30px;
    position: relative;
    >.g-recaptcha.error+.recaptcha-error::after{
      content: "Please pass the recaptcha first.";
      color: var(--errorColor);
      position: absolute;
      bottom: -20px;
    }
  }
  &__submit{
    margin-top: 30px;
    &-bt{
      @include transition(all .3s ease-out);
      padding:10px 40px;
      font-size: 16px;
      background-color: transparent;
      color: var(--themeColor);
      border-radius:7px;
      border:3px solid var(--themeColor);
      cursor:pointer;
      &:hover{
        color:#ffffff;
        background-color: var(--themeColor);
      }
      @include mediaQuery(mediumScreen){
        width:100%;
      }
    }
  }
}

#blog{
  .page__content{
    width:100%;
    height:520px;
    margin:0px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .info-temp{
    font-size:42px;
    color: var(--themeColor);
    >h3{
      margin:10px 0px;
    }
    .ellipsis{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 60px;
      .dot{
        width: 40px;
        height: 40px;
        display: block;
        background-color: var(--themeColor);
        border-radius: 50%;
        animation: $floatTime float infinite ease-in-out;
        @for $i from 1 through 3{
          &:nth-child(#{$i}){
            animation-delay: $floatTime*($i - 1)/3;
          }
        }
      }
    }
    @include mediaQuery(smallScreen){
      h3{
        font-size: 36px;
      }
      .ellipsis{
        .dot{
          width:25px;
          height:25px;
        }
      }
    }
  }
}
.footer{
  position:fixed;
  bottom:0;
  left:10px;
  right:10px;
  background:#ffffff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px -3px 5px rgba(0,0,0,.2);
  input{
    border: 2px solid transparent;
    border-bottom-color: #cccccc;
    text-align: center;
    &:focus{
      @extend input;
      outline:none;
      border-bottom-color: var(--themeColor);
    }
  }
}

.console{
  @include transition(all .3s ease-out);
  height:0px;
  position:relative;
  overflow: hidden;
}

.collapse{
  @include transition(all .3s ease-out);
  content:"";
  height:$dropDownRadius;
  width:$dropDownRadius*2;
  position:absolute;
  left:50%;
  top:-$dropDownRadius+3px;
  margin-left: -$dropDownRadius;
  background: $footerColor;
  border:1px solid $footerColor;
  border-top-left-radius: $dropDownRadius;
  border-top-right-radius: $dropDownRadius;
  border-bottom:0;
  box-shadow: 0px -3px 3px rgba(0,0,0,.2);
  &:hover{
    top:-$dropDownRadius;
  }
  &.show{
    top:-$dropDownRadius;
  }
  cursor:pointer;
  z-index:1;
  &.show::before{
    margin-top: 10px;
    border: 10px solid transparent;
    border-top-color: #e7e7e7;
  }
  &::before{
    position: absolute;
    left:50%;
    content:"";
    height:0px;
    width:0px;
    display:block;
    margin-left:-10px;
    margin-top:-3px;
    border: 10px solid transparent;
    border-bottom-color: #e7e7e7;
  }
}

.preload{
  @include transition(none !important)
}
.color-lb{
  color:var(--themeColor);
}
