$logoWidth:100px;
$logoHeight:40px;
$navHeight: 100px;
$cardHeight:600px;
$cardWidth:500px;
$dropDownRadius:25px;
$headerColor: rgba(255,255,255,1);
@mixin transition($statment){
  -webkit-transition: $statment;
  -moz-transition: $statment;
  -ms-transition: $statment;
  -o-transition: $statment;
  transition: $statment;
}
body{
  font-family: 'Roboto', Helvetica, sans-serif;
}

#background{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#e7e7e7;
}

.header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  box-shadow: 0px 3px 5px #bbbbbb;
  background-color: $headerColor;
  font-size: 18px;
  z-index: 2;

}

.navigation{
  display:flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  .top{
    background-color: rgba(255,255,255,1);
  }
  &__logo{
    width:$logoHeight;
    height:$logoHeight;
    background:url("../asset/logo.ico") no-repeat;
    background-size: cover;
  }
  &__list{
    min-width:400px;
    max-width:600px;
    height:100%;
    display:flex;
    justify-content: space-around;
    flex-grow:1;
  }
  &__item{
    list-style-type: none;
    a{
      text-decoration: none;
      color:black;
      &:hover::after,&.active::after{
        background-color:#ff0258;
        width:40px;
      }
      &:hover::after{
        transition: all .5s ease-out;
      }
      &::after{
        content:"";
        position:relative;
        left:50%;
        bottom:-6px;
        margin-left: -20px;
        border-radius: 4px;
        width:0px;
        height:3px;
        background-color: transparent;
        display: block;
      }
    }
  }
}
.content{
  display:flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:$navHeight;
  width:100%;
}

.page{
  min-width:800px;
  height:500px;
  background:pink;
  display:none;
}

.current{
  display:block;
}

.bt{
  width:140px;
  height: 40px;
  cursor:pointer;
  background:linear-gradient(135deg,transparent 50%, lightblue 0, blue 90%, transparent 0) no-repeat;
  background-size:100% 100%;
  background-position:-25% 0;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:5px;
}

.footer{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background:#ffffff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.console{
  @include transition(all .3s ease-out);
  height:0px;
  position:relative;
  overflow: hidden;
}

.collapse{
  content:"";
  height:$dropDownRadius;
  width:$dropDownRadius*2;
  position:absolute;
  left:50%;
  top:-$dropDownRadius;
  margin-left: -$dropDownRadius;
  background: $headerColor;
  border:1px solid $headerColor;
  border-top-left-radius: $dropDownRadius;
  border-top-right-radius: $dropDownRadius;
  border-bottom:0;
  box-shadow: 0px -3px 3px #bbbbbb;
  cursor:pointer;
  z-index:1;
  &.show::before{
    margin-top: 10px;
    border: 10px solid transparent;
    border-top-color: #e7e7e7;
  }
  &::before{
    position: absolute;
    left:50%;
    content:"";
    height:0px;
    width:0px;
    display:block;
    margin-left:-10px;
    margin-top:0px;
    border: 10px solid transparent;
    border-bottom-color: #e7e7e7;
  }
}

.preload{
  @include transition(none !important)
}
