$logoWidth:60px;
$logoHeight:40px;
$navHeight: 100px;
$cardHeight:600px;
$cardWidth:500px;
$dropDownRadius:25px;
$headerTopColor: rgba(255,255,255,1);
$headerColor: rgba(255,255,255,.6);
$footerColor: rgba(255,255,255,1);
@mixin transition($statement){
  -webkit-transition: $statement;
  -moz-transition: $statement;
  -ms-transition: $statement;
  -o-transition: $statement;
  transition: $statement;
}
@mixin mask($statement){
  -webkit-mask: $statement;
  -moz-mask: $statement;
  -ms-mask: $statement;
  -o-mask: $statement;
  mask: $statement;
}
@keyframes shake{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(10deg);
  }
  50%{
    transform: rotate(-10deg);
  }
  75%{
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
body{
  font-family: 'Roboto', Helvetica, sans-serif;
}
:root{
  // --themeColor:lightblue;
  --themeColor: #7861da;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}
#background{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#e7e7e7;
}

.header{
  @include transition(all .3s ease-out);
  position:fixed;
  top:0;
  left:0;
  right:0;
  box-shadow: 0px 3px 5px #bbbbbb;
  background-color: $headerColor;
  font-size: 18px;
  z-index: 2;
}
.navigation{
  display:flex;
  justify-content: space-around;
  align-items: center;
  color:#e7e7e7;
  &.top{
    background-color: $headerTopColor;
    a{
      color:#000000;
    }
  }
  &__logo{
    width:$logoWidth;
    height:$logoHeight;
    background:url("../asset/logo.png") no-repeat;
    background-size: cover;
  }
  &__list{
    min-width:400px;
    max-width:600px;
    height:100%;
    display:flex;
    justify-content: space-around;
    flex-grow:1;
  }
  &__item{
    list-style-type: none;
    a{
      text-decoration: none;
      color:#777777;
      &:hover::after,&.active::after{
        background-color:#ff0258;
        width:40px;
      }
      &:hover::after{
        transition: all .5s ease-out;
      }
      &::after{
        content:"";
        position:relative;
        left:50%;
        bottom:-6px;
        margin-left: -20px;
        border-radius: 4px;
        width:0px;
        height:3px;
        background-color: transparent;
        display: block;
      }
    }
  }
}

.content{
  display:flex;
  justify-content: center;
  position:absolute;
  top: $navHeight - $navHeight;
  width:100%;
  height:100%;
}
#page-loader{
  min-height:500px;
  height:600px;
  min-width:600px;
  max-width:1000px;
  width:80%;
  margin-top:90px;
}
.page{
  width:100%;
  height:100%;
  background:#ffffff;
  display:none;
  position:relative;
  border-radius: 15px;
  overflow: hidden;
  &__header{
    display:flex;
    height:80px;
    font-size:26px;
    color:#ffffff;
    justify-content: center;
    align-items: center;
    background-color:var(--themeColor);
  }
  &__content{
    display:flex;
    margin:auto;
    width:90%;
    background-color: #ffffff;
    flex-direction:row;
    justify-content: center;
  }
}
.current{
  display:block;
}

.bt{
  width:140px;
  height: 40px;
  cursor:pointer;
  background:linear-gradient(135deg,transparent 50%, var(--themeColor) 0, blue 90%, transparent 0) no-repeat;
  background-size:100% 100%;
  background-position:-25% 0;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:5px;
}

#resume{
  background: linear-gradient(180deg,var(--themeColor) 50%, white 50%);
  position: relative;
  &__info{
    position: absolute;
    right:150px;
    top:100px;
    width:400px;
    position:flex;
    flex-direction: column;
    text-align: center;
    color:#ffffff;
  }
  &__intro{
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    bottom:50px;
    left:50px;
    width:90%;
    line-height: 1.6;
  }
  &__avatar{
    @include transition(all .4s);
    position:absolute;
    left:50px;
    top:120px;
    width:200px;
    height:200px;
    border:5px solid #ffffff;
    box-shadow:0px 5px 5px #e7e7e7;
    &:hover{
      transform: translate(0px,-13px);
      box-shadow:0px 13px 7px 0px #aaaaaa;
    }
    >img{
      width:200px;
      height:200px;
    }
  }
}

#info{
  &__name>h1{
    font-size:48px;
    line-height: 30px;
  }
  &__position>h2{
    font-size: 18px;
    line-height: 30px;
  }
  &__socials{
    display:flex;
    justify-content: center;
    align-items: center;
    .icon{
      @include mask(none);
      @include transition(all .4s);
      width:30px;
      height:30px;
      margin-left:10px;
      border-radius: 33%;
      background-color:#ffffff;
      cursor:pointer;
      &:hover{
        animation: .5s shake;
        background-color:#00adef;
      }
      &--github{
        @include mask(url(../asset/github-icon.svg) no-repeat center / contain );
      }
      &--linkin{
        @include mask(url(../asset/linkin-icon.svg) no-repeat center/ contain);
      }
      &--instagram{
        @include mask(url(../asset/instagram-icon.png) no-repeat center/ contain);
      }
    }
  }
}
#intro{
  &__description{
    width:50%;
  }
  &__demographic{
    width:50%;
    >li{
      list-style: none;
      margin-top:5px;
      .key{
        display: inline-block;
        width:100px;
      }
      .value{
        color:#bbbbbb;
      }
    }
  }
}

#contact{
  &__detail{
    width:50%;
    padding: 0 20px;
    margin-top: 1em;
    &>li{
      list-style:none;
      &.detail-info{
        display:flex;
        flex-direction: row;
        align-items: center;
        >.detail__key{
          border-radius: 50%;
          background-color: var(--themeColor);
          min-width:36px;
          height:36px;
          margin-right:10px;
          display: flex;
          justify-content:center;
          align-items: center;
          &::before{
            content:"";
            width:70%;
            height:70%;
            background:#ffffff;
          }
        }
        >p{
          color:#888888;
        }
      }
    }
  }
  &__form{
    width:50%;
    padding: 0 20px;
    margin-top: 1em;
  }
}
#map{
  width:100%;
  height:200px;
}
#detail{
  &__header{
    font-size: 26px;
    line-height:0.5em;
  }
  &__google-map{
    width:100%;
    margin-bottom:10px;
  }
  &__location{
    .detail__key::before{
      @include mask(url(../asset/location-24px.svg) no-repeat center/contain);
    }
  }
  &__email{
    .detail__key::before{
      @include mask(url(../asset/email-24px.svg) no-repeat center/contain);
    }
  }
  &__phone{
    .detail__key::before{
      @include mask(url(../asset/call-24px.svg) no-repeat center/contain);
    }
  }
}

#form{
  &__content{
    display:flex;
    flex-direction: row;
    margin-top: 30px;
    &::before{
      content:"";
      width:30px;
      height:30px;
      background-color: var(--themeColor);
    }
    &>input, &>textarea{
      font-family: "Roboto", Helvetica, sans-serif;
      outline:none;
      width:100%;
      height:30px;
      box-sizing: border-box;
      margin-left:5px;
      border:1px solid transparent;
      border-bottom-color: #777777;
    }
    &>textarea{
      height:80px;
      resize:none;
    }
    &--name{
      @extend #form__content;
      &::before{
        @include mask(url(../asset/person-24px.svg) no-repeat center/contain)
      }
    }
    &--email{
      @extend #form__content;
      &::before{
        @include mask(url(../asset/email-24px.svg) no-repeat center/contain)
      }
    }
    &--message{
      @extend #form__content;
      &::before{
        @include mask(url(../asset/msg-24px.svg) no-repeat center/contain)
      }
    }
  }
  &__captcha{
    margin-top: 30px;
  }
  &__submit{
    margin-top: 30px;
    &-bt{
      @include transition(all .3s ease-out);
      padding:10px 40px;
      font-size: 16px;
      background-color: transparent;
      color: var(--themeColor);
      border-radius:5px;
      border:3px solid var(--themeColor);
      cursor:pointer;
      &:hover{
        color:#ffffff;
        background-color: var(--themeColor);
      }
    }
  }
}

.footer{
  position:fixed;
  bottom:0;
  left:10px;
  right:10px;
  background:#ffffff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px -3px 5px #888888;
  input{
    border: 2px solid transparent;
    border-bottom-color: #cccccc;
    text-align: center;
    &:focus{
      @extend input;
      outline:none;
      border-bottom-color: var(--themeColor);
    }
  }
}

.console{
  @include transition(all .3s ease-out);
  height:0px;
  position:relative;
  overflow: hidden;
}

.collapse{
  @include transition(all .3s ease-out);
  content:"";
  height:$dropDownRadius;
  width:$dropDownRadius*2;
  position:absolute;
  left:50%;
  top:-$dropDownRadius+3px;
  margin-left: -$dropDownRadius;
  background: $footerColor;
  border:1px solid $footerColor;
  border-top-left-radius: $dropDownRadius;
  border-top-right-radius: $dropDownRadius;
  border-bottom:0;
  box-shadow: 0px -3px 3px #888888;
  &:hover{
    top:-$dropDownRadius;
  }
  &.show{
    top:-$dropDownRadius;
  }
  cursor:pointer;
  z-index:1;
  &.show::before{
    margin-top: 10px;
    border: 10px solid transparent;
    border-top-color: #e7e7e7;
  }
  &::before{
    position: absolute;
    left:50%;
    content:"";
    height:0px;
    width:0px;
    display:block;
    margin-left:-10px;
    margin-top:-3px;
    border: 10px solid transparent;
    border-bottom-color: #e7e7e7;
  }
}

.preload{
  @include transition(none !important)
}
.color-lb{
  color:var(--themeColor);
}
