@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
:root {
  --themeColor: #7861da;
  --errorColor:red;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  margin: 0;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e7e7e7;
}

.header {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 3px 5px #bbbbbb;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  z-index: 2;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #e7e7e7;
}
.navigation.top {
  background-color: white;
}
.navigation.top a {
  color: #000000;
}
.navigation__logo {
  width: 60px;
  height: 40px;
  background: url("../asset/logo.png") no-repeat;
  background-size: cover;
}
.navigation__list {
  min-width: 400px;
  max-width: 600px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.navigation__item {
  list-style-type: none;
}
.navigation__item a {
  text-decoration: none;
  color: #777777;
}
.navigation__item a:hover::after, .navigation__item a.active::after {
  background-color: #ff0258;
  width: 40px;
}
.navigation__item a:hover::after {
  transition: all 0.5s ease-out;
}
.navigation__item a::after {
  content: "";
  position: relative;
  left: 50%;
  bottom: -6px;
  margin-left: -20px;
  border-radius: 4px;
  width: 0px;
  height: 3px;
  background-color: transparent;
  display: block;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#page-loader {
  min-height: 500px;
  min-height: 600px;
  min-width: 500px;
  max-width: 1000px;
  width: 100%;
  margin: 50px 30px;
  margin-top: 90px;
}

.page {
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: none;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.page__header {
  display: flex;
  height: 80px;
  font-size: 26px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  background-color: var(--themeColor);
}
.page__content {
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  width: 90%;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .page__content {
    flex-direction: column;
  }
}

.current {
  display: block;
}

.bt {
  width: 140px;
  height: 40px;
  cursor: pointer;
  background: linear-gradient(135deg, transparent 50%, var(--themeColor) 0, blue 90%, transparent 0) no-repeat;
  background-size: 100% 100%;
  background-position: -25% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#resume {
  background: linear-gradient(180deg, var(--themeColor) 50%, white 50%);
  position: relative;
}
@media only screen and (max-width: 768px) {
  #resume {
    padding-bottom: 18px;
  }
  #resume > div {
    position: static;
    margin: auto;
    margin-top: 50px;
  }
}
#resume__info {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: absolute;
  right: 150px;
  top: 100px;
  width: 400px;
  position: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}
@media only screen and (max-width: 1050px) {
  #resume__info {
    right: 15%;
    top: 70px;
  }
}
#resume__intro {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 90%;
  line-height: 1.6;
}
@media only screen and (max-width: 768px) {
  #resume__intro {
    flex-direction: column;
  }
}
#resume__avatar {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  left: 50px;
  top: 70px;
  min-width: 180px;
  min-height: 180px;
  width: 25%;
  height: auto;
  border: 5px solid #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}
#resume__avatar:hover {
  transform: translate(0px, -13px);
  box-shadow: 0px 18px 5px 0px rgba(0, 0, 0, 0.15);
}
#resume__avatar > img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

#info__name > h1 {
  font-size: 56px;
  line-height: 30px;
}
@media only screen and (max-width: 1050px) {
  #info__name > h1 {
    font-size: 48px;
  }
}
#info__position > h2 {
  font-size: 24px;
  line-height: 30px;
}
@media only screen and (max-width: 1050px) {
  #info__position > h2 {
    font-size: 18px;
  }
}
#info__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
#info__socials .icon {
  -webkit-mask: none;
  -moz-mask: none;
  -ms-mask: none;
  -o-mask: none;
  mask: none;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  border-radius: 33%;
  background-color: #ffffff;
  cursor: pointer;
}
@media only screen and (max-width: 1050px) {
  #info__socials .icon {
    width: 30px;
    height: 30px;
  }
}
#info__socials .icon:hover {
  animation: 0.5s shake;
  background-color: #00adef;
}
#info__socials .icon--github {
  -webkit-mask: url(../asset/github-icon.svg) no-repeat center/contain;
  -moz-mask: url(../asset/github-icon.svg) no-repeat center/contain;
  -ms-mask: url(../asset/github-icon.svg) no-repeat center/contain;
  -o-mask: url(../asset/github-icon.svg) no-repeat center/contain;
  mask: url(../asset/github-icon.svg) no-repeat center/contain;
}
#info__socials .icon--linkin {
  -webkit-mask: url(../asset/linkin-icon.svg) no-repeat center/contain;
  -moz-mask: url(../asset/linkin-icon.svg) no-repeat center/contain;
  -ms-mask: url(../asset/linkin-icon.svg) no-repeat center/contain;
  -o-mask: url(../asset/linkin-icon.svg) no-repeat center/contain;
  mask: url(../asset/linkin-icon.svg) no-repeat center/contain;
}
#info__socials .icon--instagram {
  -webkit-mask: url(../asset/instagram-icon.png) no-repeat center/contain;
  -moz-mask: url(../asset/instagram-icon.png) no-repeat center/contain;
  -ms-mask: url(../asset/instagram-icon.png) no-repeat center/contain;
  -o-mask: url(../asset/instagram-icon.png) no-repeat center/contain;
  mask: url(../asset/instagram-icon.png) no-repeat center/contain;
}

#intro__description {
  width: 100%;
}
#intro__demographic {
  width: 100%;
}
#intro__demographic > li {
  list-style: none;
  margin-top: 5px;
}
#intro__demographic > li .key {
  display: inline-block;
  width: 100px;
}
#intro__demographic > li .value {
  color: #bbbbbb;
}

#contact__detail {
  width: 100%;
  padding: 0 20px;
  margin-top: 1em;
  box-sizing: border-box;
}
#contact__detail > li {
  list-style: none;
}
#contact__detail > li.detail-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#contact__detail > li.detail-info > .detail__key {
  border-radius: 50%;
  background-color: var(--themeColor);
  min-width: 36px;
  height: 36px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact__detail > li.detail-info > .detail__key::before {
  content: "";
  width: 70%;
  height: 70%;
  background: #ffffff;
}
#contact__detail > li.detail-info > p {
  color: #888888;
}
#contact__form {
  width: 100%;
  padding: 0 20px;
  margin-top: 1em;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: 200px;
}

#detail__header {
  font-size: 26px;
  line-height: 0.5em;
}
#detail__google-map {
  width: 100%;
  margin-bottom: 10px;
}
#detail__location .detail__key::before {
  -webkit-mask: url(../asset/location-24px.svg) no-repeat center/contain;
  -moz-mask: url(../asset/location-24px.svg) no-repeat center/contain;
  -ms-mask: url(../asset/location-24px.svg) no-repeat center/contain;
  -o-mask: url(../asset/location-24px.svg) no-repeat center/contain;
  mask: url(../asset/location-24px.svg) no-repeat center/contain;
}
#detail__email .detail__key::before {
  -webkit-mask: url(../asset/email-24px.svg) no-repeat center/contain;
  -moz-mask: url(../asset/email-24px.svg) no-repeat center/contain;
  -ms-mask: url(../asset/email-24px.svg) no-repeat center/contain;
  -o-mask: url(../asset/email-24px.svg) no-repeat center/contain;
  mask: url(../asset/email-24px.svg) no-repeat center/contain;
}
#detail__phone .detail__key::before {
  -webkit-mask: url(../asset/call-24px.svg) no-repeat center/contain;
  -moz-mask: url(../asset/call-24px.svg) no-repeat center/contain;
  -ms-mask: url(../asset/call-24px.svg) no-repeat center/contain;
  -o-mask: url(../asset/call-24px.svg) no-repeat center/contain;
  mask: url(../asset/call-24px.svg) no-repeat center/contain;
}

#form__content, #form__content--message, #form__content--email, #form__content--name {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  position: relative;
}
#form__content::before, #form__content--message::before, #form__content--email::before, #form__content--name::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: var(--themeColor);
}
#form__content > input, .footer #form__content > input:focus, #form__content--message > input, .footer #form__content--message > input:focus, #form__content--email > input, .footer #form__content--email > input:focus, #form__content--name > input, .footer #form__content--name > input:focus, #form__content > textarea, #form__content--message > textarea, #form__content--email > textarea, #form__content--name > textarea {
  font-family: "Roboto", Helvetica, sans-serif;
  outline: none;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  margin-left: 5px;
  border: 1px solid transparent;
  border-bottom-color: #777777;
}
#form__content > input + .focus-underline, #form__content--message > input + .focus-underline, #form__content--email > input + .focus-underline, #form__content--name > input + .focus-underline, #form__content > textarea + .focus-underline, #form__content--message > textarea + .focus-underline, #form__content--email > textarea + .focus-underline, #form__content--name > textarea + .focus-underline {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--themeColor);
}
#form__content > input:focus + .focus-underline, #form__content--message > input:focus + .focus-underline, #form__content--email > input:focus + .focus-underline, #form__content--name > input:focus + .focus-underline, #form__content > input.finished + .focus-underline, #form__content--message > input.finished + .focus-underline, #form__content--email > input.finished + .focus-underline, #form__content--name > input.finished + .focus-underline, #form__content > textarea:focus + .focus-underline, #form__content--message > textarea:focus + .focus-underline, #form__content--email > textarea:focus + .focus-underline, #form__content--name > textarea:focus + .focus-underline, #form__content > textarea.finished + .focus-underline, #form__content--message > textarea.finished + .focus-underline, #form__content--email > textarea.finished + .focus-underline, #form__content--name > textarea.finished + .focus-underline {
  width: 100%;
}
#form__content > input.error + .focus-underline, #form__content--message > input.error + .focus-underline, #form__content--email > input.error + .focus-underline, #form__content--name > input.error + .focus-underline, #form__content > textarea.error + .focus-underline, #form__content--message > textarea.error + .focus-underline, #form__content--email > textarea.error + .focus-underline, #form__content--name > textarea.error + .focus-underline {
  background-color: var(--errorColor);
  width: 100%;
}
#form__content > input.error + .focus-underline::after, #form__content--message > input.error + .focus-underline::after, #form__content--email > input.error + .focus-underline::after, #form__content--name > input.error + .focus-underline::after, #form__content > textarea.error + .focus-underline::after, #form__content--message > textarea.error + .focus-underline::after, #form__content--email > textarea.error + .focus-underline::after, #form__content--name > textarea.error + .focus-underline::after {
  content: "";
  color: var(--errorColor);
  position: absolute;
  bottom: -20px;
  font-size: 13px;
}
#form__content > textarea, #form__content--message > textarea, #form__content--email > textarea, #form__content--name > textarea {
  height: 80px;
  resize: none;
}
#form__content--name::before {
  -webkit-mask: url(../asset/person-24px.svg) no-repeat center/contain;
  -moz-mask: url(../asset/person-24px.svg) no-repeat center/contain;
  -ms-mask: url(../asset/person-24px.svg) no-repeat center/contain;
  -o-mask: url(../asset/person-24px.svg) no-repeat center/contain;
  mask: url(../asset/person-24px.svg) no-repeat center/contain;
}
#form__content--name > input.error + .focus-underline::after {
  content: "Name should not be empty";
}
#form__content--email::before {
  -webkit-mask: url(../asset/email-24px.svg) no-repeat center/contain;
  -moz-mask: url(../asset/email-24px.svg) no-repeat center/contain;
  -ms-mask: url(../asset/email-24px.svg) no-repeat center/contain;
  -o-mask: url(../asset/email-24px.svg) no-repeat center/contain;
  mask: url(../asset/email-24px.svg) no-repeat center/contain;
}
#form__content--email > input.error + .focus-underline::after {
  content: "Please enter a valid email";
}
#form__content--message::before {
  -webkit-mask: url(../asset/msg-24px.svg) no-repeat center/contain;
  -moz-mask: url(../asset/msg-24px.svg) no-repeat center/contain;
  -ms-mask: url(../asset/msg-24px.svg) no-repeat center/contain;
  -o-mask: url(../asset/msg-24px.svg) no-repeat center/contain;
  mask: url(../asset/msg-24px.svg) no-repeat center/contain;
}
#form__content--message > textarea.error + .focus-underline::after {
  content: "Message should not be empty";
}
#form__captcha {
  margin-top: 30px;
  position: relative;
}
#form__captcha > .g-recaptcha.error + .recaptcha-error::after {
  content: "Please pass the recaptcha first.";
  color: var(--errorColor);
  position: absolute;
  bottom: -20px;
}
#form__submit {
  margin-top: 30px;
}
#form__submit-bt {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 10px 40px;
  font-size: 16px;
  background-color: transparent;
  color: var(--themeColor);
  border-radius: 7px;
  border: 3px solid var(--themeColor);
  cursor: pointer;
}
#form__submit-bt:hover {
  color: #ffffff;
  background-color: var(--themeColor);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 10px;
  right: 10px;
  background: #ffffff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0px -3px 5px #888888;
}
.footer input, .footer input:focus {
  border: 2px solid transparent;
  border-bottom-color: #cccccc;
  text-align: center;
}
.footer input:focus {
  outline: none;
  border-bottom-color: var(--themeColor);
}

.console {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 0px;
  position: relative;
  overflow: hidden;
}

.collapse {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  content: "";
  height: 25px;
  width: 50px;
  position: absolute;
  left: 50%;
  top: -22px;
  margin-left: -25px;
  background: white;
  border: 1px solid white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: 0;
  box-shadow: 0px -3px 3px #888888;
  cursor: pointer;
  z-index: 1;
}
.collapse:hover {
  top: -25px;
}
.collapse.show {
  top: -25px;
}
.collapse.show::before {
  margin-top: 10px;
  border: 10px solid transparent;
  border-top-color: #e7e7e7;
}
.collapse::before {
  position: absolute;
  left: 50%;
  content: "";
  height: 0px;
  width: 0px;
  display: block;
  margin-left: -10px;
  margin-top: -3px;
  border: 10px solid transparent;
  border-bottom-color: #e7e7e7;
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.color-lb {
  color: var(--themeColor);
}

/*# sourceMappingURL=base.css.map */
