body {
  font-family: "Roboto", Helvetica, sans-serif;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e7e7e7;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 3px 5px #bbbbbb;
  background-color: white;
  font-size: 18px;
  z-index: 2;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.navigation .top {
  background-color: white;
}
.navigation__logo {
  width: 40px;
  height: 40px;
  background: url("../asset/logo.ico") no-repeat;
  background-size: cover;
}
.navigation__list {
  min-width: 400px;
  max-width: 600px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.navigation__item {
  list-style-type: none;
}
.navigation__item a {
  text-decoration: none;
  color: black;
}
.navigation__item a:hover::after, .navigation__item a.active::after {
  background-color: #ff0258;
  width: 40px;
}
.navigation__item a:hover::after {
  transition: all 0.5s ease-out;
}
.navigation__item a::after {
  content: "";
  position: relative;
  left: 50%;
  bottom: -6px;
  margin-left: -20px;
  border-radius: 4px;
  width: 0px;
  height: 3px;
  background-color: transparent;
  display: block;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  width: 100%;
}

.page {
  min-width: 800px;
  height: 500px;
  background: pink;
  display: none;
}

.current {
  display: block;
}

.bt {
  width: 140px;
  height: 40px;
  cursor: pointer;
  background: linear-gradient(135deg, transparent 50%, lightblue 0, blue 90%, transparent 0) no-repeat;
  background-size: 100% 100%;
  background-position: -25% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.console {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 0px;
  position: relative;
  overflow: hidden;
}

.collapse {
  content: "";
  height: 25px;
  width: 50px;
  position: absolute;
  left: 50%;
  top: -25px;
  margin-left: -25px;
  background: white;
  border: 1px solid white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: 0;
  box-shadow: 0px -3px 3px #bbbbbb;
  cursor: pointer;
  z-index: 1;
}
.collapse.show::before {
  margin-top: 10px;
  border: 10px solid transparent;
  border-top-color: #e7e7e7;
}
.collapse::before {
  position: absolute;
  left: 50%;
  content: "";
  height: 0px;
  width: 0px;
  display: block;
  margin-left: -10px;
  margin-top: 0px;
  border: 10px solid transparent;
  border-bottom-color: #e7e7e7;
}

.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/*# sourceMappingURL=base.css.map */
